@page
@using OTELDemo.Model
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Our whether forecast</h1>
    
    @foreach (WeatherForecast forecast in Model.Forecasts) {
        <p>@forecast.Summary</p>
    }
    
</div>
