@page
@using OTELDemo.Model
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Прогноз погоды</h1>
    
    @foreach (WeatherForecast forecast in Model.Forecasts) {
        <p>Прогноз на @forecast.Date.ToString("dd.MM.yyyy"):</p>
        <p>Температура в тени: @forecast.TemperatureC градусов</p>
        <p>@forecast.Summary</p>
    }
    
</div>
